@import "assets/css/reset.css";
@import "assets/css/profile.card.css";
@import "assets/css/grid.css";

* {
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}




