.card {
    max-width: 300px;
    width: 100%;
    --image-size: 100%;
    border: 4px solid blue;
    border-radius: 10px;
    overflow: hidden;
}


.imageWrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.imageWrapper > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.fullName {
    text-align: center;
    font-family: sans-serif;

}
